@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


@font-face {
    font-family:'circular-bold' ;
    src: url(../assets/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2);
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.page-cadastro{
    display: flex;
    flex-direction: row;

    background-color: rgb(237, 245, 242);
}

.titulo-cadastro{
    

    margin-bottom: 20px;
    color: #272262;

    font-family: 'Concert one';
    font-size: 45px;
    
    margin-left: 212px;
    margin-top: 50px;

}

.part1-tela{
    background-image: url(../assets/images/tela-cadastro-pet.png);
    width: 740px;
    height: 599px;
}

.card-cadastro{
    display: flex;
    flex-direction: column;

    background-color: rgb(237, 245, 242);
    border-radius: 4%;

    margin-left: 220px;
    margin-top:50px;

  
  
}

.label-login input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #272262;

    background-color: transparent;
    outline: none;
    min-width: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
    font-family: 'Concert one';
}

.label-login{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-login input:focus{
    border-bottom: 2px solid #4038a0;
}

.label-login label{
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    font-family: 'Concert one';
}

.label-login input:focus + label,
.label-login input:valid + label
{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
    font-family: 'Concert one';

}

.bot-cadastro{
    border-radius: 25px;
    background-color: #4038a0;
    border: 0;
    
    color: aliceblue;

    cursor: pointer;
    width: 85px;
    height: 45px;

    text-align: center;
    margin-left: 72px;
    margin-top: 25px;
}

.bot-cadastro:hover{
    width: 85px;
    height: 52px;
    border-radius: 25px;
}