form {
display: inline-block;
flex-direction: column;
justify-content: center;
margin-block-start: auto;
width: 60%;
border: 3px solid;
padding: 70px;
text-align: center;
}

h1 {
    text-align: center;
}